#content{
  margin: 0 auto;
  width: 900px;
  font-family: 'Georgia', serif;
  font-size: 13px;
  text-align: left;
}

#byline{
  font-family: helvetica, sans-serif;
  font-size: 14pt;
  font-style: italic;
}

#headline{
  font-family: helvetica, sans-serif;
  font-size: 25pt;
}

#caption{
  font-family: helvetica, sans-serif;
  font-size: 10pt;
  color: #808080;
  text-align: center;
}

#photo1{
  text-align: center;
}

#banner{
  text-align: center;
}

#photo2{
  text-align: center;
}

#blockquote{
  font-size: 13pt;
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 15px;
  color: black;
  margin-left: 50px;
  border-left: 4px solid #ccc
}
