BODY {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color: #444
}

#name {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #33485e;
  width:60%;
  min-width:300px;
  margin: 0 auto
}

.menu{
  margin: 0px;
  padding: 0px;
  display: inline;
  text-align: center;
  margin: 0 auto;
}


.sectionheader{
  font-size: 1.5em;
  background-color: #33485e;
  font-weight: 400;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  width: 70%;
  min-width: 300px;
}

.jobtitle{
  font-weight: 600;
  font-size: 1.5em;
}

.organization{
  font-weight: 400;
  font-size: 1.25em;
}

.date{
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  margin-top: 2px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.description{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
}

.do{
  display: inline;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.degrees{
  display: inline;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.title{
  text-transform: uppercase;
  font-size: 1.5em;
  color: #33485e
  weight:600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.top{
  width:60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}

#container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}
